/* base.module.css */

/* Global Reset */
:global(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:global(*::after),
:global(*::before) {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:global(html) {
  font-size: 10px;
  box-sizing: inherit;
}

:global(body) {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --webkit-tap-highlight-color: transparent;
  min-height: 100dvh;
}

/* Utility Classes */
.uFlex {
  display: flex;
}

.uFlexCol {
  flex-direction: column;
}

.uFlexRow {
  flex-direction: row;
}

.uAlignCenter {
  align-items: center;
}

.uJustifyCenter {
  justify-content: center;
}

.uJustifySpaceAround {
  justify-content: space-around;
}

.uJustifySpaceBetween {
  justify-content: space-between;
}

.uJustifyFlexEnd {
  justify-content: flex-end;
}

.uGapD3r {
  gap: 0.3rem;
}

.uGapD5r {
  gap: 0.5rem;
}

.uGap1r {
  gap: 1rem;
}

.uGap2r {
  gap: 2rem;
}

/* Padding */
.uPaddingD5r {
  padding: 0.5rem;
}

.uPadding1r {
  padding: 1rem;
}

.uPadding2r {
  padding: 2rem;
}

.uPaddingRight1r {
  padding-right: 1rem;
}

.uPaddingLeft1r {
  padding-left: 1rem;
}

/* Margin */
.uMarginLrCentering {
  margin: 0 auto;
}

/* Text Alignment */
.uTextAlignCenter {
  text-align: center;
}

.uTextAlignLeft {
  text-align: left;
}

.uTextAlignRight {
  text-align: right;
}

/* Text Transform */
.uTextTransformCapitalize {
  text-transform: capitalize;
}

.uTextTransformUppercase {
  text-transform: uppercase;
}

.uTextTransformLowercase {
  text-transform: lowercase;
}

/* Font Weight */
.uFontWeightBold {
  font-weight: bold;
}

/* Cursor */
.uCursorPointer {
  cursor: pointer;
}

/* Buttons */
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn:hover {
  border-color: #646cff;
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn:disabled {
  outline: none;
  cursor: not-allowed;
  border: none;
}

/* Responsive Styling */
@media (min-width: 768px) {
  :global(html) {
    font-size: 11px;
  }

  .btn {
    padding: 1rem 1.2rem;
  }

  .btnIcon {
    padding: 0.6rem 1.2rem;
    display: flex;
    gap: 0.85rem;
    align-items: center;
  }
}

@media (min-width: 900px) {
  :global(html) {
    font-size: 12px;
  }
}
